body{
    font-family: sans-serif;
}
table img {
    max-width: 100px;
}

table {
    border-collapse: collapse;
}
table th{
    font-weight:bold;
}

table td,
table th {
    border: 1px solid gray;
    padding: 10px;
}

.pokemonImage img {
    max-width: 60px;
}

.no_border {
    border: 0;
}

svg#play {
    width:200px;
    margin: 120px auto;
    display:block;
    cursor: pointer;
    transform-origin: 50% 50%;
}

svg#play #triangle {
    fill:rgba(22,22,22,0);
    transition:500ms;
    transform-origin: 50% 50%;
}
svg#play:hover #triangle {
    fill:#A3CD3A;
    transform-origin: 50% 50%;
}

svg #lineOne, svg #lineTwo {
    transform-origin: 50% 50%;
    transition: 1s;
}

svg:hover #lineOne {
    transform: rotate(260deg);
    -webkit-transform: rotate(260deg);
    -moz-transform: rotate(260deg);
    -o-transform: rotate(260deg);
    transform-origin: 50% 50%;
}

svg:hover #lineTwo {
    transform: rotate(-450deg);
    transform-origin: 50% 50%;
}


.default_line {
    width: 85%;
    background-color: #f6fdff !important;
    border: 1px solid white;
    border-radius: 12px;
}

.active {
    background-color: #ffffcd ;
    height: 40px;
    width: 98%;
    transition: width 0.4s;
    border-radius: 12px;
    border: 1px solid white;

}

.accordion {
    width: 100%;
}

.perc85 {
    width: 85%;
}

.perc100 {
    width: 100%;
}