body{
    font-family: sans-serif;
}
table img {
    max-width: 100px;
}

table {
    border-collapse: collapse;
}
table th{
    font-weight:bold;
}

table td,
table th {
    border: 1px solid gray;
    padding: 10px;
}

.pokemonImage img {
    max-width: 60px;
}

.no_border {
    border: 0;
}

svg#play {
    width:200px;
    margin: 120px auto;
    display:block;
    cursor: pointer;
    transform-origin: 50% 50%;
}

svg#play #triangle {
    fill:rgba(22,22,22,0);
    transition:500ms;
    transform-origin: 50% 50%;
}
svg#play:hover #triangle {
    fill:#A3CD3A;
    transform-origin: 50% 50%;
}

svg #lineOne, svg #lineTwo {
    transform-origin: 50% 50%;
    transition: 1s;
}

svg:hover #lineOne {
    transform: rotate(260deg);
    -webkit-transform: rotate(260deg);
    -moz-transform: rotate(260deg);
    -o-transform: rotate(260deg);
    transform-origin: 50% 50%;
}

svg:hover #lineTwo {
    transform: rotate(-450deg);
    transform-origin: 50% 50%;
}


.default_line {
    width: 85%;
    background-color: #ffffff !important;
    border: 1px solid white;
    box-shadow:0px 0px 8px 0px rgba(50, 50, 50, 0.72);
    border-radius: 12px;
    background-image: none;
}

.active {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 13px #000000;
    height: 60px;
    width: 96%;
    transition: width 0.4s;
    border-radius: 12px;
    border: 0 !important;
    background-position: center;
    background-size: cover;
    z-index: 1;
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.72);;
}

.textButton {
    position: relative;
    left: 15px;
}

.accordion {
    width: 100%;
}

.perc85 {
    width: 85%;
}

.perc100 {
    width: 100%;
}

.collapse {
    box-shadow:0px 0px 8px 0px rgba(50, 50, 50, 0.72);
    width: 85%;
    z-index: 0;
    font-weight: bold;
}

.cardTL {
    /*margin-top: 10px ;*/
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0 !important;
    color: black;
    font-size: 18px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}